@import "variables.scss";

.App {
  text-align: center;
  background-color: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-item {
  margin: 0.5rem 0;
}